extends ./layouts/main.pug
include partial/mixins/videoBlock
include partial/mixins/bannerUpload
block content
    .user-profile
        +bannerUpload()
        div.user-profile__banner
            img.u-banner(src=user.bannerUrl)
            if loggedUser && user.id===loggedUser.id
                button.banner__btn.btn__hide Add Banner 
        .user-profile__header
            img.u-avatar(src=user.avatarUrl)
            h4.profile__username=user.name
        if loggedUser.id !==  user.id
                    if user.subscribed.indexOf(loggedUser.id)===-1
                        button.sbtn.subscribe Subscribe
                    else
                        button.sbtn.subscribed Subscribed
        if loggedUser && user.id===loggedUser.id
            .user-profile__btns
                a(href=`/users${routes.editProfile}`)
                    button Edit Profile
                a(href=`/users${routes.changePassword}`)
                    button Change Password
        .user-profile__videos.wvideo
            p.upload__label Uploaded Videos
            .videos       
                each video in user.videos
                    +videoBlock(video)
        .user-profile__videos.wvideo
            p.liked__label Liked Videos
            .videos
                each video in user.likes
                    +videoBlock(video)
        if loggedUser && user.id===loggedUser.id
            .user-profile__videos.wvideo
                .user-profile__section
                    .user-profile__sectionbtn
                        button Add Section
                    .user-profile__form
                        form
                            label
                                span.label__span Contents
                                select
                                    option(selected) Contents Select
                                    optgroup(label="Video")
                                        option(value="Popular") Popular upload
                                    optgroup(label="Channel")
                                        option(value="Subscribed") Subscribed
                            div.formbtn__container
                                input(type="submit",value="Confirm")
                                button Cancel





        