mixin channelBlock(channel={})
    .channelBlock
        a(href=routes.userDetail(channel.id),id=channel.id)
            img(src=channel.avatarUrl, alt=channel.name)
            p=channel.name
        if loggedUser.subscribe.indexOf(channel._id)!==-1 
            button.sbtn.subscribed Subscribed
        else
            button.sbtn.subscribe Subscribe